<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Green.com.board">
    <insert id="insBoard" parameterType="BoardDto">
        INSERT INTO board
        (NAME,age,job,address,mobile)
        VALUES
        (NAME=#{NAME},age=${age},job=#{job},address=#{address},mobile=#{mobile})
    </insert>
</mapper>
